# requirements.txt
numpy<2.0
pandas<2.0
onnxruntime
scikit-learn
requests
pysignalr
python-dateutil
pytest
pyyaml
futures-foundation-model @ git+https://github.com/johnamcruz/Futures-Foundation-Model.git